/* -- RESET -- */

html, body, main, nav, header, section, article, aside, footer, div, h1, ul, li, a, form, img, p, h3 h4 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  text-decoration: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

html, body {
  height: 100%;
  position: relative;
}

body {
  font-family: sans-serif;
  color: gray;
  font-size: 16px;
}


/* -- HEADER -- */

.wrap {

}

.main-hub {
  float: left;
  width: 700px;
}

.header {
  padding: 20px 0;
  background: #173333;
  color: #F8F8F8;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
}

.messages {
  padding: 10px;
  background: #fff;
  position: absolute;
  top: 140px;
  left: 0;
  right: 315px;
  bottom: 50px;
  overflow-y: scroll;
}

.message {
  margin: 0 0 20px 0;
}

.message-me {
  margin: 0 0 20px 0;
}

.sidebar {
  background: red;
  width: 290px;
  position: absolute;
  top: 90px;
  right: 0;
  bottom: 0;
  width: 300px;
}


/* -- MESSAGES -- */

.header h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.header li img {
  width: 25px;
  height: 25px;
  padding: 10px;
}

.header ul {
  position: absolute;
  top: 15px;
  right: 10px;
}

.header li {
  float: right;
}

.chat-title {
  padding: 10px;
  background: #658A8A;
  color: #F8F8F8;
  position: absolute;
  top: 90px;
  left: 0;
  right: 315px;
  height: 30px;

}

.chat-actions {
  float: right;
}

.chat-title h1 {
  font-size: 24px;
  font-weight: bold;
  float: left;
}

.message li {
/*  font-size: 14px;
  font-weight: none;*/
}

.message-details {
  background: #CFD1D1;
  max-width: 450px;
  margin: 0 10px 0 60px;
  padding: 10px;

}

.message-details h3 {
  font-size: 14px;
  margin: 10px 0 5px 0;
}

.message-details li {
  float: left;
  margin: 0 20px 0 0;
}

.message img {
  width: 50px;
  height: 50px;
  float: left;
}

.message-me img {
  width: 50px;
  height: 50px;
  float: right;
}

.message-me p {

}

.message-me-details {
  background: #E6E6E6;
  max-width: 450px;
  margin: 0 10px 0 60px;
  padding: 10px;
  float: right;
}

.message-me li h3 {
  float: left;
  font-size: 14px;
  margin: 10px 20px 5px 0;
}

.message-me-details h3 {

}


.sidebar {
  position: absolute;
  bottom: 0;
  width: 320px;
}

.sidebar h3 {
  font-size: 24px;
  font-weight: bold;
  color: white;
  padding: 10px;
  background: #5E5E5E;
  margin: 0;
  border-bottom: #5E5E5E solid 2px;
}

.sidebar .rooms {

}

.rooms li {
  color: #5E5E5E;
  font-weight: bold;
  background: #969696;
  border-bottom: #5E5E5E solid 2px;
  padding: 10px
}

.sidebar .people {
  background: green;
  overflow-y: scroll;
  position: absolute;
  width: 320px;
  bottom: 0;
  height: 332px;
}

.sidebar img {
  width: 50px;
  height: 50px;
  padding: 10px;
}

.sidebar .person img {
  float: left;
}

.sidebar .person h4 {
  background: yellow;
  padding: 15px;
  float: left;
}



/* -- FOOTER -- */

.message-input {
  background: #173333;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 315px;
  height: 50px;
  width: 100$;
}

.message-input img {
  width: 25px;
  height: 25px;
}

.message-input a {
  float: left;
}

.message-input form {
  float: left;
}